.containerBlog {  
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 0.5fr 3fr 0.1fr 0.4fr;
    grid-auto-columns: 1fr;
    gap: 0px 0px;
    grid-auto-flow: row;
    grid-template-areas:
      "navBar"
      "mainBlog"
      "irArriba"
      "footer";
  }

  .parallaxBlog {
    background-image: url("../img/backgroundBlog.jpg");
    min-height: 500px;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }
  
  .mainBlog {
    display: grid;
    grid-template-columns: 0.5fr 1.5fr;
    grid-template-rows: 0.2fr 1.8fr;
    gap: 0px 0px;
    grid-auto-flow: row;
    grid-template-areas:
      "titleBlog introBlog"
      "articlesBlog articlesBlog";
    grid-area: mainBlog;
    margin: 10px;
    border-radius: 20px;
    width: 95%;
  }
  
  .titleBlog { 
    grid-area: titleBlog; 
    font-size: 30px;
    font-family: 'Mukta';
    font-weight: 800;
    display: grid;
    justify-content: left;
    background-color: #fce803;
    border-radius: 20px;
    margin-top: 10px;
    margin-bottom: 10px;
    width: 65%;
    align-content: center;
    padding-left: 5%;
    margin-left: 10px;
  }

  @media screen and (max-width: 767px) {
    .titleBlog { 
      width: 100%;
    }

  }
  
  .tituloPagina {
    font-size: 30px;
    font-family: 'Mukta';
    font-weight: 800;
  }
  
  .titleBlogFormating {
    font-size: 30px;
    font-family: 'Mukta';
    font-weight: 800;
  }
  
  
  .articlesBlog {  
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    gap: 0px 0px;
    grid-auto-flow: row;
    grid-template-areas:
      "blog1"
      "blog2"
      "blog3"
      "blog4";
    grid-area: articlesBlog;
    justify-items: center;
    align-items: center;
  }
  
  @media screen and (max-width: 767px) {
    .articlesBlog {  
      display: grid;
      grid-template-columns: 1fr;
      grid-template-rows: 0.25fr 0.25fr 0.25fr 0.25fr;
      gap: 0px 0px;
      grid-auto-flow: row;
      grid-template-areas:
        "blog1"
        "blog2"
        "blog3"
        "blog4";
      grid-area: articlesBlog;
      justify-items: center;
      align-items: center;
    }

  }

  .blog1 { 
    display:flex;
    grid-area: blog1; 
    border-radius: 20px;
    width: 65%;
    margin: 10px;
    height: 95%;
    color: #ffffff;
    padding: 10px;
    align-content: center;
    justify-self: left;
  }

    
  .blog2 { 
    display: flex;
    grid-area: blog2; 
    border-radius: 20px;
    width: 65%;
    margin: 10px;
    height: 95%;
    color: #ffffff;
    padding: 10px;
    align-content: center;
    justify-self: right;
  
  }
  
  .blog3 { 
    display: flex;
    grid-area: blog3; 
    border-radius: 20px;
    width: 65%;
    margin: 10px;
    height: 95%;
    color: #ffffff;
    padding: 10px;
    align-content: center;
    justify-self: left;
  
  }
  
  .blog4 { 
    display: flex;
    grid-area: blog4; 
    border-radius: 20px;
    width: 65%;
    margin-bottom: 10px;
    height: 95%;
    color: #ffffff;
    padding: 10px;
    align-content: center;
    justify-self: right;
  
  }