.containerDondeComprar {  
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 0.4fr 3fr 0.2fr 0.4fr;
    grid-auto-columns: 1fr;
    gap: 0px 0px;
    grid-auto-flow: row;
    grid-template-areas:
      "navBar"
      "mainDondeComprar"
      "irArriba"
      "footer";
      height: 100vh;
      width: 100vw;
    justify-content: center;
  }


  .parallaxDondeComprar {
    background-image: url("../img/backgroundDondeComprar.jpg");
    min-height: 500px;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }
  
  .mainDondeComprar {  
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 0.1fr 1.9fr;
    gap: 0px 0px;
    grid-auto-flow: row;
    grid-template-areas:
      "tituloDondeComprar"
      "mainMapa";
    grid-area: mainDondeComprar;
    width: 80%;
  }
  
  .tituloDondeComprar { 
    grid-area: tituloDondeComprar; 
    font-size: 30px;
    font-family: 'Mukta';
    font-weight: 800;
    display: grid;
    justify-content: left;
    background-color: #fce803;
    border-radius: 20px;
    margin-top: 10px;
    margin-bottom: 10px;
    width: 45%;
    align-content: left;
    
  }

  @media screen and (max-width: 767px) {
    .tituloDondeComprar { 
      width: 100%
      
    }

  }
  
  .textTitleDondeComprar {
    margin: 10px;
  }
  
  .mainMapa {  
    display: grid;
    grid-template-columns: 1.1fr 0.9fr;
    grid-template-rows: 1fr;
    gap: 0px 0px;
    grid-auto-flow: row;
    grid-template-areas:
      "mapaiFrame listadoMapa";
    grid-area: mainMapa;
    background-color: #52525180;
    border-radius: 20px;
    padding-top: 10px;
    width: 100%;
  }

  @media screen and (max-width: 767px) {
    .mainMapa {  
      display: grid;
      grid-template-columns: 1fr;
      grid-template-rows: 1fr;
      gap: 0px 0px;
      grid-auto-flow: row;
      grid-template-areas:
        "mapaiFrame";
      grid-area: mainMapa;
      background-color: #52525180;
      border-radius: 20px;
      padding: 10px;
    }

  }
  
  .iFrame { 
    grid-area: mapaiFrame; 
    justify-content: center;
    margin: 10px;
    margin-top: 0px;
    width: 100%;
    height: auto;
    padding: 10px;
  }
  
  .listadoMapa { 
    grid-area: listadoMapa; 
    border-radius: 20px;
    border: solid #1b1b1b 3px;
    margin: 10px;
    margin-top: 0px;
    width: 95%;
    padding: 10px;
  }
  
  .tituloDire {
    font-size: 15px;
    color: white;
    font-family: 'Mukta';
    font-weight: 800;
  }

  .direccion {
    color: white;
  }

  @media screen and (max-width: 767px) {
    .listadoMapa { 
      display: none;
    }

  }