.containerQuienesSomos {  
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 0.1fr 3.7fr 0.1fr 0.3fr;
    grid-auto-columns: 1fr;
    gap: 0px 0px;
    grid-auto-flow: row;
    grid-template-areas:
      "navBar"
      "mainQuienesSomos"
      "irArriba"
      "footer";
      width: 100vw;
  }

  .parallaxQuienesSomos {
    background-image: url("../img/backgroundQuienesSomos.jpg");
    min-height: 500px;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    
  }
  
  .mainQuienesSomos {  
    display: grid;
    grid-template-columns: 0.8fr 1.2fr;
    grid-template-rows: 0.2fr 1.8fr;
    grid-auto-rows: 1fr;
    gap: 0px 0px;
    grid-auto-flow: row;
    grid-template-areas:
      "titleQuienesSomos titleQuienesSomos"
      "imgQuienesSomos txtQuienesSomos";
    grid-area: mainQuienesSomos;
    margin: 10px;
    border-radius: 20px;
    background-color: #5a5a5a93;
  
  }

  @media screen and (max-width: 767px) {
    .mainQuienesSomos {  
      display: grid;
      grid-template-columns: 1fr;
      grid-template-rows: 0.1fr 1fr 0.9fr;
      grid-auto-rows: 1fr;
      gap: 0px 0px;
      grid-auto-flow: row;
      grid-template-areas:
        "titleQuienesSomos"
        "imgQuienesSomos"
        "txtQuienesSomos";
      grid-area: mainQuienesSomos;
      margin: 10px;
      border-radius: 20px;
    
    }
  }

  .titleQuienesSomos { 
    grid-area: titleQuienesSomos;  
    display: grid;
    font-size: 30px;
    font-family: 'Mukta';
    font-weight: 800;
    margin: 5px;
    width: 45%;
    height: 80%;
    border-radius: 20px;
    background-color: #fce803;
    padding-left: 15px;
  
  }

  @media screen and (max-width: 767px) {
    .titleQuienesSomos { 
      width: 100%;
    
    }
  }
  
  .tituloQuienesSomos {
    align-self: center;
    margin: 0px;
  }
  
  .imgQuienesSomos { 
    grid-area: imgQuienesSomos; 
    display: flex;
    justify-content: center;
    align-content: center;
    padding-bottom: 10px;
    
  }
  
  .picQuienesSomos {
    width: 90%;
    height: auto;
    border-radius: 20px;
    border: solid 3px black;
    
  }
  
  @media screen and (max-width: 767px) {
    .picQuienesSomos {
      width: 95%;
            
    }
  }
  
  .txtQuienesSomos { 
    grid-area: txtQuienesSomos; 
    padding: 10px;
    background-color: #525251ab;
    border-radius: 20px;
    color: white;
    height: 70%;
  
  }

  @media screen and (max-width: 767px) {
    .txtQuienesSomos { 
      grid-area: txtQuienesSomos; 
      padding: 10px;
      background-color: #525251ab;
      border-radius: 20px;
      color: white;
      height: auto;
    
    }
  }
  