@import "index";

@import "categorias";

@import "dondeComprar";

@import "blog";

@import "quienesSomos";

@import "contacto";

.button {
  width: 50%;
  border-radius: 5px;
  border: solid #000000 1px;
}

.botonContacto {
  @extend .button;
}

@mixin footer($display, $margin) {
  display: $display;
  margin: $margin;
}

.sn {
  @include footer (inline-block, 15px);
  
}

